.single__right {
  max-width: 775px;
  width: 100%;

  &-title {
    color: var(--mainTitleText);
    font-size: 30px;
    line-height: normal;
    margin-bottom: 14px;
    font-family: "Poppins";
  }

  &-feature {
    display: block;
    color: var(--mainTitleText);
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 10px;

    &.size {
      margin-bottom: 23px;
    }

    &.control {
      margin-bottom: 17px;
    }

    &.type-cornise {
      margin-bottom: 15px;
    }

    &.type-control {
      margin-bottom: 17px;
    }

    &.rounding {
      margin-bottom: 17px;
    }
  }

  &-sep {
    display: flex;
    align-items: center;
    // gap: 30px;
    margin-bottom: 15px;

    &.size {
      margin-bottom: 39px;
    }

    &.count {
      gap: 12px;

      select {
        margin-left: 0;
        width: 115px;
      }
    }
  }

  &-chose {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  &-info {
    color: var(--mainTitleText);
    font-size: 16px;
    line-height: 150%;
    text-wrap: nowrap
  }

  &-select {
    display: block;
    padding: 4px 12px;
    margin-left: 14px;
    background: var(--whiteColor);
    color: var(--mainTitleText);
    font-size: 16px;
    line-height: 150%;
  }

  &-check {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 12px;
    width: 17px;
    height: 17px;
    border: 1px solid rgba(54, 56, 83, 0.5);
    background: #fff;

    &::before {
      content: "";
      display: block;
      width: 75%;
      height: 75%;
      background: transparent;
    }
  }

  &-label {
    color: var(--mainTitleText);
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    user-select: none;
    margin-right: 30px;

    input[type="checkbox"],
    input[type="radio"] {
      display: none;
    }

    input[type="checkbox"]:checked~.single__right-check {
      border-color: #0095ff;

      &::before {
        background: #0095ff;
      }
    }

    input[type="radio"]:checked~.single__right-check {
      border-color: #0095ff;

      &::before {
        background: #0095ff;
      }
    }
  }

  &-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-btn {
    display: flex;
    background: var(--primaryColor);
    text-align: center;
    max-width: 315px;
    width: 100%;
    color: var(--textWhite);
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    cursor: pointer;

    strong {
      padding: 22px 0;
      flex-grow: 1;
    }
  }

  &-icon {
    display: block;
    padding: 25px;
    background: #0095ff;
  }
}

@media (max-width: 1130px) {
  .single__right{
      &-flex{
        flex-direction: column;
        align-items: flex-start;
      }
  }
}

@media (max-width: 450px) {
  .single__right {
   &-sep.size{
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
    margin-bottom: 19px;
   }
   &-chose{
    margin-bottom: 15px;
    margin-right: 15px;
   }
   &-label{
    margin-right: 15px;
   }
   &-btn {
    strong{
      padding: 12px 0;
    }
   }
   &-icon{
    padding: 15px;
   }
  }
}