.goods-filters {
  padding: 30px 0 9px;
  position: relative;
  overflow: hidden;

  &__title {
    color: var(--mainTitleText);
    font-feature-settings: "clig"off, "liga"off;
    font-size: 28px;
    line-height: 22px;
    margin-bottom: 50px;
  }

  &__name {
    color: var(--mainTitleText);
    font-feature-settings: "clig"off, "liga"off;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 15px;
  }

  &__content {
    display: flex;
    gap: 30px;
  }

  &__left {
    max-width: 315px;
    width: 100%;
    flex-shrink: 0;
  }

  &__right {
    flex-grow: 1;
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__sort {
    display: flex;
    align-items: center;
    gap: 19px;
    margin-bottom: 39px;

    &-link {
      padding: 4px 6px 4px 12px;
      display: flex;
      align-items: center;
      color: var(--mainTitleText);
      font-size: 16px;
      line-height: 150%;
      background: var(--whiteColor);

      span {
        display: inline-block;
        margin-right: 6px;
      }

      img {
        transition: transform 0.2s linear;
      }

      &.active {
        background: rgba(15, 158, 216, 0.15);

        img {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__pagination {
    display: flex;
    margin-top: 69px;
    justify-content: center;
    align-items: center;

    &-item {
      margin: 0 6px;
    }

    &-btn {
      display: block;
      padding: 9.5px 17px;
      color: var(--textWhite);
      font-family: "Poppins";
      font-size: 12.667px;
      font-weight: 300;
      line-height: normal;
      background: rgba(54, 56, 83, 0.3);
      text-transform: capitalize;

      &.active {
        background: var(--mainTitleText);
      }
    }
  }

  &__toggle {
    background: transparent;
    width: 40px;
    height: 40px;
    padding: 5px;
    background: var(--whiteColor);
    border-radius: 2px;
    cursor: pointer;
    display: none;
    position: fixed;
    top: 65%;
    z-index: 25;
    left: 0;
    transition: left .2s linear;
    &.active{
      left: 250px;
    }
    img {
      width: 100%;
    }
  }
}

@media (max-width: 1035px) {
  .goods-filters {
    &__left {
      max-width: 250px;
      top: 60px;

    }
  }
}

@media (max-width: 970px) {
  .goods-filters {
    .cassette-combo__item{
      max-width: 250px;
    }
    .cassette-combo__busket{
      font-size: 14px;
    }
  }
}
@media (max-width: 850px) {
  .goods-filters {
    .cassette-combo__item{
      max-width: 210px;
    }
    .cassette-combo__busket{
      font-size: 10px;
    }
  }
}

@media (max-width: 764px) {
  .goods-filters {
    &__content{
      flex-direction: column;
    }
    &__left{
      max-width: none;
    }
    &__accordion-list{
      display: flex;
      flex-wrap: wrap;
    }
    &__accordion-link{
      margin: 7.5px;
    }
    &__name{
      display: none;
    }
    &__title{
      margin-bottom: 20px;
      line-height: normal;
    }
  }
}

@media (max-width: 484px) {
  .goods-filters {
    &__cards{
      gap: 10px;
    }
    .cassette-combo__item{
      max-width: 150px;
    }
    &__accordion-link{
      font-size: 12px;
      margin: 3px;
    }
    &__sort{
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 19px;
      gap: 0;
      &-link{
        margin-bottom: 15px;
      }
    }
  }
}