.gallery-projects {
    position: relative;
    background: rgba(15, 158, 216, 0.10);
    padding: 44px 0;
    overflow: hidden;

    &__items {
        display: flex;
        gap: 44px;
    }

    &__left {
        margin-top: 75px;
        max-width: 315px;
        width: 100%;
        flex-shrink: 0;
    }

    &__title {
        color: #424158;
        font-size: 35px;
        line-height: 48px;
        margin-bottom: 27px;
    }

    &__descr {
        color: rgba(54, 56, 83, 0.80);
        font-size: 16px;
        line-height: 22px;
    }

    &__slider {
        // flex-grow: 1;
        // max-width: 404px;
        overflow-x: visible;
        overflow-y: hidden;
    }

    &__wrapper{

    }

    &__slide{
        width: max-content;
        max-width: 372px;
        width: 100%;
        &.swiper-slide-active{
            max-width: 404px;
        }
        
    }
    .swiper-3d .swiper-slide-shadow{
        background: transparent;
    }
}