.roll-curtains {
  &__title {
    color: var(--mainTitleText);
    font-size: 28px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 32px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__card {
    max-width: 430px;
    width: 100%;
  }

  &__img {
    position: relative;
    background: #e7e7e7;
    padding: 38px 10px 20px;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      max-width: 290px;
      width: 100%;
    }
  }
  &__discount-abs {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 19px;
    color: var(--primaryColor);
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    border: 1px solid #0F9ED8;
    z-index: 2;
    max-width: 173px;
    width: 100%;
    text-align: center;
  }

  &__text {
    padding: 11px 17px 10px 22px;
    background:var(--primaryColor);
  }

  &__discount {
    color: var(--textWhite);
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 16px;
    line-height: 137.5%;
    text-transform: capitalize;
    display: block;
    margin-bottom: 13px;
  }

  &__sep {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    color: var(--textWhite);
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 24px;
    line-height: 22px;
    text-transform: capitalize;
  }

  &__price {
    color: var(--textWhite);
    font-size: 16px;
    line-height: 137.5%;
    text-transform: capitalize;
  }

  &__extra {
    margin: 30px 0 61px;
  }
}

@media (max-width: 880px) {
  .roll-curtains {
    &__content{
      gap: 10px;
    }
    &__card{
      max-width: 160px;
    }
    &__sep{
      flex-direction: column;
      align-items: flex-start;
    }
    &__discount-abs{
      max-width: 70px;
      padding: 5px;
      font-size: 9px;
    }
    &__discount{
      font-size: 13px;
      margin-bottom: 5px;
    }
    &__name{
      font-size: 14px;
      margin-bottom: 5px;
    }
    &__price{
      font-size: 12px;
    }
    &__text{
      padding: 10px 13px;
    }
  }
}