.busket-top {
  &__title {
    color: var(--mainTitleText);
    font-feature-settings: "clig" off, "liga" off;
    font-size: 28px;
    line-height: 22px;
  }
  &__sep {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
  }
  &__descr {
    color: var(--mainTitleText);
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 20px;
    line-height: 22px;
  }
  &__table {
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
  }

  &__slugs {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 13px 25px 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

&__elem {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px 25px;
    border-bottom: 1px solid #d9d9d9;
  }

  &__control,
  &__name {
    color: var(--blackText);
    font-feature-settings: "clig" off, "liga" off;
    font-size: 18px;
    line-height: 150%;
  }
}
