.footer__bottom 
    p.footer__bottom-descr Разработано:Creative Agency
    ul.footer__bottom-list 
        li.footer__bottom-list-item 
            a.footer__bottom-link(href="#!" target="_blank")
                span.footer__bottom-link-mask(style="-webkit-mask-image: url('/assets/images/icons/instagram-mask.png'); mask-image: url('/assets/images/icons/instagram-mask.png');") 
        li.footer__bottom-list-item 
            a.footer__bottom-link(href="#!" target="_blank")
                span.footer__bottom-link-mask(style="-webkit-mask-image: url('/assets/images/icons/instagram-mask.png'); mask-image: url('/assets/images/icons/instagram-mask.png');") 
        li.footer__bottom-list-item 
            a.footer__bottom-link(href="#!" target="_blank")
                span.footer__bottom-link-mask(style="-webkit-mask-image: url('/assets/images/icons/instagram-mask.png'); mask-image: url('/assets/images/icons/instagram-mask.png');")