include ../footerLinksPath.pug
footer.footer 
    .container 
        .footer__content 
            include ./footer-top.pug
            include ./footer-middle.pug
            include ./footer-bottom.pug
    include ./footer-se.pug
            

