include ../footerLinksPath.pug
.footer__middle 
    .footer__middle-left 
        p.footer__middle-excerpt Ссылки
        ul.footer__middle-list 
            li.footer__middle-list-item 
                a.footer__middle-link(href="/about-company.html") О компании  
            li.footer__middle-list-item 
                a.footer__middle-link(href="/contacts.html") Контакты  
    .footer__middle-right 
        h3.footer__middle-questions Появились вопросы?
        a.footer__list-link(href=phone.url) Позвони  