.footer-se 
    .footer-se__top
    .container 
        .footer-se__items 
            ul.footer-se__list 
                li.footer-se__list-item.footer-se__list-item-sp 
                    a.footer-se__link.footer-se__link-sp(href="#!") Вертикальные
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Тюлевые жалюзи
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Тканевые
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Бамбуковые
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Пластиковые  
            ul.footer-se__list 
                li.footer-se__list-item.footer-se__list-item-sp 
                    a.footer-se__link.footer-se__link-sp(href="#!") Горизонатальные
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Алюминевые
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Деревянные
            ul.footer-se__list 
                li.footer-se__list-item.footer-se__list-item-sp 
                    a.footer-se__link.footer-se__link-sp(href="#!") Рулонные
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Рулонные день и ночь
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Рулонные ролло
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Рулонные с фотопечатью
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Рулонные с фотонанесением
            ul.footer-se__list 
                li.footer-se__list-item.footer-se__list-item-sp 
                    a.footer-se__link.footer-se__link-sp(href="#!") Для окон ПВХ
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Касетные Ролло
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Касетные день и ночь
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Плиссе
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Мини 
            ul.footer-se__list 
                li.footer-se__list-item.footer-se__list-item-sp 
                    a.footer-se__link.footer-se__link-sp(href="#!") Остальные
                li.footer-se__list-item 
                    a.footer-se__link(href="/about-company.html") О нас 
                li.footer-se__list-item 
                    a.footer-se__link(href="portfolio.html") Портфолио
                li.footer-se__list-item 
                    a.footer-se__link(href="/contacts.html") Контакты
                li.footer-se__list-item 
                    a.footer-se__link(href="#!") Дилерам
        .footer-se__kinds 
            h3.footer-se__kinds-title Виды
            ul.footer-se__kinds-list  
                li.footer-se__kinds-list-item
                    a.footer-se__link(href="#!") С электроприводом 
                li.footer-se__kinds-list-item
                    a.footer-se__link(href="#!") На кухню 
                li.footer-se__kinds-list-item
                    a.footer-se__link(href="#!") В детскую 
                li.footer-se__kinds-list-item
                    a.footer-se__link(href="#!") В спальню 
                li.footer-se__kinds-list-item
                    a.footer-se__link(href="#!") В детскую 
                li.footer-se__kinds-list-item
                    a.footer-se__link(href="#!") Новинки 
                li.footer-se__kinds-list-item
                    a.footer-se__link(href="#!") В гостиную 
                li.footer-se__kinds-list-item
                    a.footer-se__link(href="#!") Сложная форма  
                li.footer-se__kinds-list-item
                    a.footer-se__link(href="/articles.html") Статьи  