doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Страница Отзывов ComboUz")
        include ../views/common/head.pug
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="Combo.uz")
        meta(property="og:title" content="Страница Отзывов")
        meta(property="og:locale" content="ru_RU")
        title Combo.uz стоаница Отзывов
    body
        include ../views/reviews/main.pug
        include ../views/common/modal.pug