doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Страница товара #{название} ComboUz")
        include ../views/common/head.pug
        title Combo.uz Страница товара {название}
    body
        include ../views/single-item/main.pug
        include ../views/common/modal.pug