section.portfolio-special 
    .container 
        h2.portfolio-special__title Жалюзи для компании Artel
        .portfolio-special__content 
            .portfolio-special__item 
                p.portfolio-special__descr Наша компания специально подобрала жалюзи для компании SAFIA, цель которой комфортную зону для работы сотрудников.Наша компания специально подобрала жалюзи для компании SAFIA, цель которой комфортную зону для работы сотрудниковНаша компания специально подобрала жалюзи для компании SAFIA, цель которой комфортную зону для работы сотрудниковНаша компания специально подобрала жалюзи для компании SAFIA, цель которой комфортную зону для работы сотрудников
                .portfolio-special__images 
                    img(src="/assets/images/articles/artel/artel-big01.png", alt="portfolio artel image Combo.uz")
                    img(src="/assets/images/articles/artel/artel-big02.png", alt="portfolio artel image Combo.uz")
            .portfolio-special__item 
                p.portfolio-special__descr Наша компания специально подобрала жалюзи для компании SAFIA, цель которой комфортную зону для работы сотрудников.Наша компания специально подобрала жалюзи для компании SAFIA, цель которой комфортную зону для работы сотрудниковНаша компания специально подобрала жалюзи для компании SAFIA, цель которой комфортную зону для работы сотрудниковНаша компания специально подобрала жалюзи для компании SAFIA, цель которой комфортную зону для работы сотрудников
                .portfolio-special__images 
                    img(src="/assets/images/articles/artel/artel-big03.png", alt="portfolio artel image Combo.uz")
                    img(src="/assets/images/articles/artel/artel-big03.png", alt="portfolio artel image Combo.uz")