section.reviews-page 
    .container 
        .reviews-page__content 
            - for (var i = 0; i < 15; i++) 
                .reviews-page__item.reviews__item 
                    p.reviews__descr.reviews-page__descr Lorem ipsum dolor sit amet consectetur adipiscing elit Proin venenatis pellentesque vitae porta consectetur nunc.
                    .reviews__author 
                        img(src="/assets/images/main-page/review.png", alt="Combo.uz review")
                        .reviews__text 
                            h4.reviews__name Игорь Иванов
                            p.reviews__company Samsung Company