.busket-bottom 
    h3.busket-bottom__title.busket-top__title Для покупки заполните форму
    .busket-bottom__data
        .busket-bottom__sep 
            .busket-bottom__item 
                span.busket-bottom__info Фамилия
                input.busket-bottom__input(type="text" name="busket-surname")
            .busket-bottom__item 
                span.busket-bottom__info Имя
                input.busket-bottom__input(type="text" name="busket-name")
            .busket-bottom__item 
                span.busket-bottom__info Почта
                input.busket-bottom__input(type="email" name="busket-email")
        .busket-bottom__sep 
            .busket-bottom__item 
                span.busket-bottom__info Телефон
                input.busket-bottom__input(type="number" name="busket-phone")
            .busket-bottom__item 
                span.busket-bottom__info Тип монтажа
                input.busket-bottom__input(type="text" name="busket-montage")
            .busket-bottom__item 
                span.busket-bottom__info Адрес
                input.busket-bottom__input(type="text" name="busket-address")
        .busket-bottom__sep 
            .busket-bottom__item 
                span.busket-bottom__info Комментарии
                input.busket-bottom__input.busket-bottom__textarea(type="text" name="busket-comment")
    h3.busket-bottom__title.busket-top__title Тип доставки
    .busket-bottom__delivery
        label.busket-bottom__label
            input(type="radio" name="busket-delivery-type" value="install,size,delivery")
            span.busket-bottom__check 
            span Установка, размер, доставка  
        label.busket-bottom__label
            input(type="radio" name="busket-delivery-type" value="install,delivery")
            span.busket-bottom__check 
            span Доставка и установка
        label.busket-bottom__label
            input(type="radio" name="busket-delivery-type" value="delivery-tashkent")
            span.busket-bottom__check 
            span Доставка по городу Ташкент 
        btn.busket-bottom__btn(type="submit") Купить