.busket-middle 
    .container 
        .busket-middle__content 
            .busket-middle__ways 
                strong Варианты доставки
                select.busket-middle__select(name="busket-delivery")
                    option(value="pickup" selected) Самовывоз - 0 сум 
                    option(value="takeaway") Доставка курьером
            .busket-middle__total Общая сумма заказа - <output> 400 000</output> сум 
