mixin breadcrumb(data=[])
    .breadcrumbs 
        .container 
            .breadcrumbs__content 
                - for(var i = 0; i < data.length; i++)
                    - var bread = i 
                        if bread < data.length - 1
                            .breadcrumbs__item 
                                a.breadcrumbs__link(href="#!")
                                    span=data[i]
                                    img(src="/assets/images/icons/arrow-right-light.svg", alt="") 
                        else
                            .breadcrumbs__item 
                                span.breadcrumbs__line 
                                a.breadcrumbs__link.active(href="#!")
                                    span=data[i]
