- var location = {url: "https://www.google.com/maps/search/%D0%B3.%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82,+%D0%90%D0%BB%D0%BC%D0%B0%D0%B7%D0%B0%D1%80%D1%81%D0%BA%D0%B8%D0%B9+%D1%80%D0%B0%D0%B9%D0%BE%D0%BD,+%D1%83%D0%BB.%D0%A1%D0%B0%D0%B3%D0%B1%D0%B0%D0%BD+37%2F1/@41.3305483,69.2321323,17z/data=!3m1!4b1?entry=ttu", name: "г.Ташкент, Алмазарский район, ул.Сагбан 37/1"}
- var mail = {url: "mailto:info@combo.uz", name: "info@combo.uz"}
- var phone = {url: "tel:+998951423313 ", name: "+998 (95) 142 - 33 - 13 "}