footer.footer 
    .container 
        .footer__content 
            .footer__top 
                ul.footer__list 
                    li.footer__list-item 
                        img(src="/assets/images/icons/call-dark.svg", alt="combo.uz phone numbers")
                        strong Телефоны
                    li.footer__list-item 
                        a.footer__list-link-se(href="tel:+998951423313") +998 (95) 142 - 33 - 13 
                    li.footer__list-item 
                        span (с 8:00 до 21:00)
                ul.footer__list 
                    li.footer__list-item 
                        img(src="/assets/images/icons/message-dark.svg", alt="combo.uz mailbox")
                        strong Почта
                    li.footer__list-item 
                        a.footer__list-link(href="mailto:info@combo.uz") info@combo.uz 
                    li.footer__list-item 
                        span Отдел продаж
                ul.footer__list 
                    li.footer__list-item 
                        img(src="/assets/images/icons/location.svg", alt="combo.uz location")
                        strong Адрес
                    li.footer__list-item 
                        a.footer__list-link(href="https://www.google.com/maps/search/%D0%B3.%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82,+%D0%90%D0%BB%D0%BC%D0%B0%D0%B7%D0%B0%D1%80%D1%81%D0%BA%D0%B8%D0%B9+%D1%80%D0%B0%D0%B9%D0%BE%D0%BD,+%D1%83%D0%BB.%D0%A1%D0%B0%D0%B3%D0%B1%D0%B0%D0%BD+37%2F1/@41.3305483,69.2321323,17z/data=!3m1!4b1?entry=ttu", target="_blank") г.Ташкент, Алмазарский район, ул.Сагбан 37/1
                    li.footer__list-item 
                        span Офис
                ul.footer__list 
                    li.footer__list-item 
                        img(src="/assets/images/icons/clock.svg", alt="combo.uz work times")
                        strong Режим работы
                    li.footer__list-item 
                        div.footer__list-link-se с 9:00 до 19:00
                    li.footer__list-item 
                        span Пн-Пт
            .footer__middle 
                .footer__middle-left 
                    p.footer__middle-excerpt Ссылки
                    ul.footer__middle-list 
                        li.footer__middle-list-item 
                            a.footer__middle-link(href="#!") О компании  
                        li.footer__middle-list-item 
                            a.footer__middle-link(href="#!") Скидки и акции
                        li.footer__middle-list-item 
                            a.footer__middle-link(href="#!") Новости  
                        li.footer__middle-list-item 
                            a.footer__middle-link(href="#!") Контакты  
                .footer__middle-right 
                    h3.footer__middle-questions Появились вопросы?
                    a.footer__list-link(href="tel:+998951423313") Позвони  
            .footer__bottom 
                p.footer__bottom-descr Разработано:Creitive Agency
                ul.footer__bottom-list 
                    li.footer__bottom-list-item 
                        a.footer__bottom-link(href="#!", target="_blank")
                            img(src="/assets/images/icons/instagram.svg", alt="combo.uz instagram") 
                    li.footer__bottom-list-item 
                        a.footer__bottom-link(href="#!", target="_blank")
                            img(src="/assets/images/icons/facebook.svg", alt="combo.uz facebook") 
                    li.footer__bottom-list-item 
                        a.footer__bottom-link(href="#!", target="_blank")
                            img(src="/assets/images/icons/telegram.svg", alt="combo.uz telegram") 

