header.header-top 
    a.logo(href="/")
        img(src="/assets/images/icons/logo.svg", alt="combo.uz logo") 
    .header-top__items.header__items 
        ul.header-top__left
            li.header-top__left-item 
                a.header-top__left-link(href="/about-company.html") О компании 
            li.header-top__left-item 
                a.header-top__left-link(href="/contacts.html") Контакты 
            li.header-top__left-item 
                a.header-top__left-link(href="/contacts.html") Портфолио 
        ul.header-top__right   
            li.header-top__right-item 
                a.header-top__right-link.header-top__right-link-first(href="mailto:info@combo.uz") 
                    img(src="/assets/images/icons/message.svg", alt="combo.uz mail")
                    span info@combo.uz 
            li.header-top__right-item 
                a.header-top__right-link(href="tel:+998951423313") 
                    img(src="/assets/images/icons/call.svg", alt="combo.uz phone number")
                    span +998 (95) 142 - 33 - 13 
        ul.header-top__right   
            li.header-top__right-item 
                a.header-top__right-link.header-top__right-sp-link.darkBlueHover(href="#!") Заказать звонок 
            li.header-top__right-item 
                a.header__link.header__link-sp(href="#!") Авторизация / Регистрация
        ul.header__list.header__list-se 
            li.header__list-se-item 
                a.header__link-se(href="#!")
                    img(src="/assets/images/icons/heart-white.svg", alt="combo.uz favorites")  
            li.header__list-se-item 
                a.header__link-se(href="/busket.html")
                    img(src="/assets/images/icons/work-white.svg", alt="combo.uz busket goods")  
                    span.header__busket-notify.have-goods 2
        button.header__close 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path d="M12 2C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2Zm3.36 12.3c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22s-.38-.07-.53-.22l-2.3-2.3-2.3 2.3c-.15.15-.34.22-.53.22s-.38-.07-.53-.22a.754.754 0 0 1 0-1.06l2.3-2.3-2.3-2.3a.754.754 0 0 1 0-1.06c.29-.29.77-.29 1.06 0l2.3 2.3 2.3-2.3c.29-.29.77-.29 1.06 0 .29.29.29.77 0 1.06l-2.3 2.3 2.3 2.3Z" fill="#fff"/></svg>
    .header__abs
    button.header__btn 
        span.bars.first 
        span.bars.second
        span.bars.third