.modal 
    .modal__content 
        .modal__tabs 
            a.modal__tabs-link.active(href="#!") Войти 
            a.modal__tabs-link(href="#!") Регистрация
        .modal__items 
            .modal__item-elem.active 
                include ./sign-in.pug
            .modal__item-elem
                include ./registration.pug 
                
                 
                     