section.articles
    .container 
        .articles__cards 
            - for(var i = 0; i < 8; i++) 
                .articles__card 
                    a.articles__img(href="/article-single.html") 
                        img(src="/assets/images/articles/article-card.png", alt="combo.uz articles image")
                    a.articles__title(href="/article-single.html") Шторы в восточном стиле: роскошь и очарование
                    p.articles__descr Восточные интерьеры должны прийтись по вкусу всем и каждому. Есть в них что-то волшебное и загадочное. Несколько ноток Востока и дом превращается в сказочный дворец Шахерезады. Как же создать такой интерьер у себя дома? Какой текстиль лучше всего подойдет для этого? Об этом читайте в нашей статье.