include ../common/headerTop.pug
include ../common/header.pug
+header()
main.main 
    include ../common/breadcrumbs.pug
    +breadcrumb(['Главная', 'Руллоные шторы', 'NEW O V - 33'])
include ../common/footer.pug