.single__left
    .single__left-images 
        - for(var i = 0; i < 4; i++)
            .single__left-item 
                img(src="/assets/images/single-item/mini-image.png", alt="")
    .single__left-show 
        img(src="/assets/images/single-item/full-image.png", alt="")