form.single__good-right
    h2.single__right-title NEW O V - 33
    strong.single__right-feature Размер
    .single__right-sep 
        .single__right__chose 
            span.single__right-info ширина
            select.single__right-select(name="item-width")
                option(value="2мм" selected) 2мм  
                option(value="4мм") 4мм  
                option(value="6мм") 6мм  
                option(value="8мм") 8мм  
                option(value="10мм") 10мм  
        .single__right__chose 
            span.single__right-info Длина
            select.single__right-select(name="item-length")
                option(value="54мм" selected) 54мм  
                option(value="56мм") 56мм  
                option(value="58мм") 58мм  
                option(value="60мм") 60мм  
                option(value="62мм") 60мм  
    strong.single__right-feature Управление
    .single__right-sep 
        label.single__right-checkbox     
            input(type="radio" value="left" name="item-control")
            span.single__right-check 
            span.single__right-info Слева
        label.single__right-checkbox     
            input(type="radio" value="right" name="item-control")
            span.single__right-check 
            span.single__right-info Справа
    strong.single__right-feature Кол-во
    .single__right-sep 
        input(type="number" name="item-count")
        span.single__right-info штук
    .single__right-features-block 
        strong.single__right-feature Страна производитель: Китай
        strong.single__right-feature Тип ткани: Полиэстер
        strong.single__right-feature Свойство: Гладкий
        strong.single__right-feature Затемнение: 50%
    .single__right-flex 
        h4.single__right-price Цена: 80 500 сум за 1 м2
        button.single__right-btn(type="submit") 
            span В корзину
            span.single__right-icon
                img(src="/assets/images/icons/work-light.svg", alt="")
        


        