.single__content 
    p.single__descr Рулонные шторы системы Мини - это лаконичная и изящная конструкция, подходящая для окон до 150х170 см. Такая штора смотрится минималистично за счет небольшого крепления и узкого вала диаметром 19 см. В этой конструкции нет короба и направляющих. Она легкая и может монтироваться без сверления на створки пластиковых окон, включая откидные, и фиксируется в нижней части при помощи магнитов
    h3.single__features Характеристики
    .single__content-item 
        h4.single__content-title Гарантийные размеры
        p.single__content-descr ширина от 350 мм до 1500 мм -  высота от 300 мм до 2200 мм
    .single__content-item 
        h4.single__content-title Особенности применения
        p.single__content-descr Рулонные шторы системы МИНИ используются для монтажа небольших изделий на створку окна, применяются трубы диаметром 19мм., а также максимально компактные кронштейны и механизмы.
    .single__content-item 
        h4.single__content-title Управление
        p.single__content-descr Рулонные шторы управляются путем вращения цепочки, она может располагаться слева или справа (взгляд на окно из помещения). Материал цепочки - пластик. Полотно фиксируется в любом промежуточном положении.
    .single__content-item 
        h4.single__content-title Способ монтажа
        p.single__content-descr на потолок / на откос на стену На створку окна, монтаж на саморезы, возможно применение накидного кронштейна без сверления*(опция)
    .single__content-item 
        h4.single__content-title Светопроницаемость
        p.single__content-descr ширина от 350 мм до 1500 мм -  высота от 300 мм до 2200 мм
    .single__content-item 
        h4.single__content-title Большинство тканей относятся к категории полупрозрачных. Светопроницаемость - 50% Ткани black out имеют слой полимера с изнанки. Светопроницаемость - 0% (не пропускают свет)
        p.single__content-descr Только сухая чистка, уборка пылесосом или влажной тряпкой. Для тканей СКРИН допустимо применение мягкого моющего средства. Уход за рулонными шторами