section.article-single 
    .container  
        .article-single__content 
            .article-single__img 
                img(src="/assets/images/articles/article-image01.png", alt="article image Combo.uz")
            p.article-single__descr Восточные интерьеры должны прийтись по вкусу всем и каждому. Есть в них что-то волшебное и загадочное. Несколько ноток Востока и дом превращается в сказочный дворец Шахерезады. Как же создать такой интерьер у себя дома? Какой текстиль лучше всего подойдет для этого? Об этом читайте в нашей статье.
            .article-single__img 
                img(src="/assets/images/articles/article-image02.png", alt="article image Combo.uz")
            p.article-single__descr Интерьер в восточном стиле как никакой другой способен создать в помещении сказочную и невероятно уютную атмосферу, пронизанную теплом. Атмосфера далеких восточных стран уверенно входит в моду у европейцев, подкупая их сочетанием богатства и комфорта.
            .article-single__img 
                img(src="/assets/images/articles/article-image03.png", alt="article image Combo.uz")
            p.article-single__descr Интерьер в восточном стиле как никакой другой способен создать в помещении сказочную и невероятно уютную атмосферу, пронизанную теплом. Атмосфера далеких восточных стран уверенно входит в моду у европейцев, подкупая их сочетанием богатства и комфорта.