section.best-curtains
    .container
        .best-curtains__content 
            .best-curtains__text 
                h1.best-curtains__title Лучшие шторы на рынке Узбекистана
                p.best-curtains__descr Lorem ipsum dolor sit amet consectetur. Facilisis aliquet volutpat egestas non ipsum phasellus ac. Senectus malesuada lacinia dictum elementum eu vel lacus quam nulla
        img.best-curtains__background(src="/assets/images/main-page/best-curtains.png", alt="best curtains in Uzbekistan Combo.uz")