.best-curtains
    .container
        .best-curtains__content 
            .best-curtains__text 
                h1.best-curtains__title 
                p.best-curtains__descr 
        img.best-curtains__background(src="", alt="")