.cassette-combo 
    .container 
        h2.cassette-combo__title Рулонные кассетные COMBO
        .cassette-combo__cards 
            - for (var i = 0; i < 8; i++)
                include ./casette-combo-item.pug

