section.cassette-combo 
    .container 
        h2.cassette-combo__title Хит продаж
        .cassette-combo__cards 
            - for (var i = 0; i < 4; i++)
                include ./casette-combo-item.pug

