section.feedback
    .container 
        h2.feedback__title Есть вопросы, мы вам поможем?
        p.feedback__descr Оставьте номер телефона, и мы вам перезвоним в ближашее время.
        form.feedback__form(action="")
            input.feedback__input(type="number" placeholder="Номер телефона")
            button.feedback__btn Отправить 