section.gallery-projects
    .container 
        .gallery-projects__items 
            .gallery-projects__left 
                h2.gallery-projects__title Галерея проектов
                p.gallery-projects__descr Здесь вы можете посмотреть проекты, которые выполнены с нашими жалюзями
            .gallery-projects__right 
                .gallery-projects__slider 
                    .swiper-wrapper.gallery-projects__wrapper
                        .swiper-slide.gallery-projects__slide
                            img(src="/assets/images/main-page/gallery-projects01.png", alt="Combo.uz gallery projects")
                            .gallery-projects__text 
                                p.gallery-projects__excerpt 01 - Bed Room
                                h4.gallery-projects__name Inner Peace
                                .gallery-projects__alternate.darkBlueHover 
                                    img(src="/assets/images/icons/right-arrow.svg", alt="")
                        .swiper-slide.gallery-projects__slide
                            img(src="/assets/images/main-page/gallery-projects02.png", alt="Combo.uz gallery projects")
                            .gallery-projects__text 
                                p.gallery-projects__excerpt 02 - Bed Room
                                h4.gallery-projects__name Inner Peace
                                .gallery-projects__alternate.darkBlueHover 
                                    img(src="/assets/images/icons/right-arrow.svg", alt="")
                        .swiper-slide.gallery-projects__slide
                            img(src="/assets/images/main-page/gallery-projects03.png", alt="Combo.uz gallery projects")
                            .gallery-projects__text 
                                p.gallery-projects__excerpt 03 - Bed Room
                                h4.gallery-projects__name Inner Peace
                                .gallery-projects__alternate.darkBlueHover 
                                    img(src="/assets/images/icons/right-arrow.svg", alt="")
                        .swiper-slide.gallery-projects__slide
                            img(src="/assets/images/main-page/gallery-projects02.png", alt="Combo.uz gallery projects")
                            .gallery-projects__text 
                                p.gallery-projects__excerpt 04 - Bed Room
                                h4.gallery-projects__name Inner Peace
                                .gallery-projects__alternate.darkBlueHover 
                                    img(src="/assets/images/icons/right-arrow.svg", alt="")
                        .swiper-slide.gallery-projects__slide
                            img(src="/assets/images/main-page/gallery-projects03.png", alt="Combo.uz gallery projects")
                            .gallery-projects__text 
                                p.gallery-projects__excerpt 05 - Bed Room
                                h4.gallery-projects__name Inner Peace
                                .gallery-projects__alternate.darkBlueHover 
                                    img(src="/assets/images/icons/right-arrow.svg", alt="")
                        .swiper-slide.gallery-projects__slide
                            img(src="/assets/images/main-page/gallery-projects02.png", alt="Combo.uz gallery projects")
                            .gallery-projects__text 
                                p.gallery-projects__excerpt 06 - Bed Room
                                h4.gallery-projects__name Inner Peace
                                .gallery-projects__alternate.darkBlueHover 
                                    img(src="/assets/images/icons/right-arrow.svg", alt="")
                    .gallery-projects__pagination 
                    .gallery-projects__next 
                        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="icon / outlined / directions / chevron / down">
                                <path id="Vector" d="M14.25 28.5L23.75 19L14.25 9.5" stroke="#0F9ED8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>