section.gallery-projects
    .container 
        .gallery-projects__items 
            .gallery-projects__left 
                h2.gallery-projects__title Галерея проектов
                p.gallery-projects__descr Здесь вы можете посмотреть проекты, которые выполнены с нашими жалюзями
            .gallery-projects__slider 
                .swiper-wrapper.gallery-projects__wrapper
                    .swiper-slide.gallery-projects__slide
                        img(src="/assets/images/main-page/gallery-projects01.png", alt="Combo.uz gallery projects")
                        .gallery-projects__text 
                            p.gallery-projects__excerpt 01 - Bed Room
                            h4.gallery-projects__name Inner Peace
                    .swiper-slide.gallery-projects__slide
                        img(src="/assets/images/main-page/gallery-projects02.png", alt="Combo.uz gallery projects")
                        .gallery-projects__text 
                            p.gallery-projects__excerpt 02 - Bed Room
                            h4.gallery-projects__name Inner Peace
                    .swiper-slide.gallery-projects__slide
                        img(src="/assets/images/main-page/gallery-projects03.png", alt="Combo.uz gallery projects")
                        .gallery-projects__text 
                            p.gallery-projects__excerpt 03 - Bed Room
                            h4.gallery-projects__name Inner Peace
                    .swiper-slide.gallery-projects__slide
                        img(src="/assets/images/main-page/gallery-projects01.png", alt="Combo.uz gallery projects")
                        .gallery-projects__text 
                            p.gallery-projects__excerpt 04 - Bed Room
                            h4.gallery-projects__name Inner Peace
                    .swiper-slide.gallery-projects__slide
                        img(src="/assets/images/main-page/gallery-projects02.png", alt="Combo.uz gallery projects")
                        .gallery-projects__text 
                            p.gallery-projects__excerpt 05 - Bed Room
                            h4.gallery-projects__name Inner Peace
                    .swiper-slide.gallery-projects__slide
                        img(src="/assets/images/main-page/gallery-projects03.png", alt="Combo.uz gallery projects")
                        .gallery-projects__text 
                            p.gallery-projects__excerpt 06 - Bed Room
                            h4.gallery-projects__name Inner Peace
                .swiper-pagination 