section.have-questions
    h2.have-questions__title Есть вопросы, мы вам поможем?
    .have-questions__grid 
        <iframe class="have-questions__video"  width="1280" src="https://www.youtube.com/embed/E3Huy2cdih0" title="ELDEN RING - Official Gameplay Reveal" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="have-questions__video"  width="1280" src="https://www.youtube.com/embed/E3Huy2cdih0" title="ELDEN RING - Official Gameplay Reveal" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="have-questions__video"  width="1280" src="https://www.youtube.com/embed/E3Huy2cdih0" title="ELDEN RING - Official Gameplay Reveal" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="have-questions__video"  width="1280" src="https://www.youtube.com/embed/E3Huy2cdih0" title="ELDEN RING - Official Gameplay Reveal" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="have-questions__video"  width="1280" src="https://www.youtube.com/embed/E3Huy2cdih0" title="ELDEN RING - Official Gameplay Reveal" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="have-questions__video"  width="1280" src="https://www.youtube.com/embed/E3Huy2cdih0" title="ELDEN RING - Official Gameplay Reveal" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    