include ../common/headerTop.pug
include ../common/header.pug
+header()
main.main 
    include ./best-curtains.pug
    include ./roll-curtains.pug
    +roll-curtains(6)
    +roll-curtains(3, 'roll-curtains__extra')
    include ./cassette-combo.pug
    include ./gallery-projects.pug
    include ./have-questions.pug
    include ./reviews.pug
    include ./feedback.pug
include ../common/footer/footer.pug
script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js")    