mixin roll-curtains(count=3, extraClass='')
    section.roll-curtains(class=extraClass)
        .container 
            h2.roll-curtains__title Руллонные Шторы
            .roll-curtains__content 
                - for (var i = 0; i < count; i++)
                    .roll-curtains__card 
                        a.roll-curtains__img(href="/single-item.html") 
                            img(src="/assets/images/main-page/roll-curtains.png", alt="roll-curtains Combo.uz")
                            if (i === 0)
                                span.roll-curtains__discount-abs СКИДКА 15%
                        .roll-curtains__text 
                            span.roll-curtains__discount Скидка до 15%
                            .roll-curtains__sep 
                                h3.roll-curtains__name Мини
                                strong.roll-curtains__price От 142 000 сум за м <sup> 2</sup>