mixin roll-curtains(count=3, extraClass='')
    section.roll-curtains(class=extraClass)
        .container 
            h2.roll-curtains__title Руллонные Шторы
            .roll-curtains__content 
                - for (var i = 0; i < count; i++)
                    .roll-curtains__card 
                        .roll-curtains__text 
                            span.roll-curtains__discount Скидка до 15%
                            h3.roll-curtains__name Мини
                            strong.roll-curtains__price От 142 000 сум за м <sup> 2</sup>
                            a.roll-curtains__link.darkBlueHover(href="#!") Посмотреть 
                        .roll-curtains__img 
                            img(src="/assets/images/main-page/roll-curtains.png", alt="roll-curtains Combo.uz")
