.header {
  // background: var(--mainBgColor);
  padding: 22px 0;
  border-bottom: 1px solid #F1F1F1;
  &__nav {
    display: flex;
    align-items: center;
  }
  &__items{
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__btn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    background: transparent;
    display: none;
    .bars{
      display: block;
      width: 26px;
      height: 2px;
      background: #fff;
      margin: 3px 0;
      transition: width .2s linear;
    }
    &.active{
      .bars.second{
        width: 60%;
      }
      .bars.third{
        width: 35%;
      }
    }
  }
  &__abs{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    &.active{
      display: block;
    }
  }
  &__close{
    display: none;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__list-se {
    width: initial;
    gap: 16px;
    display: flex;
    margin-left: 16px;
  }

  &__link {
    display: block;
    color: var(--mainTitleText);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin: 0 15px;
    position: relative;

    &:hover,
    &-sp {
      color: var(--textPrimary);
    }
  }

  &__link-se {
    position: relative;
  }

  &__busket-notify {
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: var(--primaryColor);
    color: var(--textWhite);
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    position: absolute;
    right: -1px;
    top: -8px;
    &.have-goods {
      display: flex;
    }
  }
}

@media(max-width: 1284px) {
  .header {
    &__list-se, &__list{
      margin-left: 0;
    }
  }
}

@media(max-width: 1216px) {
  .header {
    &__btn{
      display: flex;
    }
    &__nav{
      justify-content: space-between;
    }
    &__items{
      position: fixed;
      top: 0;
      flex-direction: column;
      text-align: center;
      height: 100%;
      width: 220px;
      padding: 70px 15px;
      right: 0;
      z-index: 110;
      transition: right .2s linear;
      right: -220px;
      background: #3A3A3A;
      &.active{
        right: 0;
      }
    }
    &__list{
      flex-direction: column;
    }
    &__link{
      margin-bottom: 10px;
    }
    &__close{
      position: absolute;
      right: 10px;
      top: 10px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      img{
        width: 30px;
      }
    }
  }
}
