.header {
    &__nav {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        margin-left: 8px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__list-se{
        width: initial;
        gap: 16px;
        display: flex;
        margin-left: 16px;
    }

    &__link {
        display: block;
        color: var(--mainTitleText);
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        margin-right: 10px;
        &:hover{
            color: var(--textPrimary);
        }
    }

}