.header-top {
  background: #3A3A3A;
  padding: 0 38px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo{
    margin-right: 30px;
  }
  .header__list-top{
    display: none;
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;

    &-link {
      display: block;
      color: var(--textWhite);
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
      margin: 0 15px;
      &:hover {
        color: var(--textPrimary);
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;

    &-link {
      display: flex;
      align-items: center;
      margin: 0 15px;
      color: var(--textWhite);
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
      &:hover {
        color: var(--textPrimary);
      }

      img {
        margin-right: 10px;
      }

      &-first {
        span {
          text-decoration: underline;
        }
      }
    }

    &-sp-link {
      padding: 8px 19px;
      color: var(--textWhite);
      background: var(--primaryColor);
      font-size: 16px;
      &:hover{
        color:var(--textWhite);
      }
    }
  }
}



@media(max-width: 1600px) {
  .header-top {
    padding: 0 15px;
    .logo{
      margin-right: 0;
      img {
        width: 220px;
      }
    }
    &__left{
      &-link{
        margin: 0 5px;
      }
    }
    &__right{
      &-link{
        margin: 0 5px;
      }
    }
  }
}

@media(max-width: 1346px) {
  .header-top {
    .logo img {
      width: 180px;
    }
    &__left{
      &-link{
        font-size: 14px;
      }
    }
    &__right{
      &-link{
       font-size: 14px;
      }
    }
  }
  .header__link-sp{
    font-size: 14px;
    margin: 0 5px;
  }
}

@media(max-width: 1216px) {
  .header-top {
    .header__list-top{
      display: flex;
      margin-top: 15px;
    }
    &__left{
      flex-direction: column;
      &-link{
        margin: 10px 0;
      }
    }
    &__right{
      flex-direction: column;
      &-link{
        margin: 10px 0;
      }
    }
  }
  .header__link-sp{
    margin: 10px 0;
  }
  .header__link:not(.header__link-sp) {
    color: var(--textWhite);
    text-align: left;
    margin: 10px 0;
  }
  .header__list-sub{
    padding: 0;
    padding-left: 30px;
    position: relative;
    opacity: 1;
    background: transparent;
    z-index: 5;
  }
  .header__list-item{
    width: 100%;
  }
}


@media(max-width: 876px) {
  .header-top {

    &__right-sp-link {
      display: block;
    }
  }
}