ul.goods-filters__pagination 
    li.goods-filters__pagination-item 
        a.goods-filters__pagination-btn(href="#!") prev 
    li.goods-filters__pagination-item 
        a.goods-filters__pagination-btn(href="#!") 1 
    li.goods-filters__pagination-item 
        a.goods-filters__pagination-btn(href="#!") 2 
    li.goods-filters__pagination-item 
        a.goods-filters__pagination-btn(href="#!") 3 
    li.goods-filters__pagination-item 
        a.goods-filters__pagination-btn(href="#!") next 