.goods-filters__left 
    .goods-filters__accordion
        .goods-filters__accordion-item.open
            h4.goods-filters__accordion-name 
                span Каталог
                img(src="/assets/images/icons/arrow-bottom.svg", alt="")
            .goods-filters__accordion-content 
                ul.goods-filters__accordion-list
                    li.goods-filters__accordion-elem
                            a.goods-filters__accordion-link.active(href="#!")
                                span Exclusive     
                                span Кол-во(31)
                    - for (var i = 0; i < 12; i++)
                        li.goods-filters__accordion-elem
                            a.goods-filters__accordion-link(href="#!")
                                span Exclusive     
                                span Кол-во(31)     
        .goods-filters__accordion-item 
            h4.goods-filters__accordion-name 
                span Цвет
                img(src="/assets/images/icons/arrow-bottom.svg", alt="")
            .goods-filters__accordion-content 
                ul.goods-filters__accordion-list
                    - for (var i = 0; i < 3; i++)
                        li.goods-filters__accordion-elem
                            a.goods-filters__accordion-link(href="#!")
                                span Exclusive     
                                span Кол-во(31)     
        .goods-filters__accordion-item 
            h4.goods-filters__accordion-name 
                span Затемнение
                img(src="/assets/images/icons/arrow-bottom.svg", alt="")
            .goods-filters__accordion-content 
                ul.goods-filters__accordion-list
                    - for (var i = 0; i < 5; i++)
                        li.goods-filters__accordion-elem
                            a.goods-filters__accordion-link(href="#!")
                                span Exclusive     
                                span Кол-во(31)    
        .goods-filters__accordion-item  
            h4.goods-filters__accordion-name 
                span Производитель
                img(src="/assets/images/icons/arrow-bottom.svg", alt="")
            .goods-filters__accordion-content 
                ul.goods-filters__accordion-list
                    - for (var i = 0; i < 4; i++)
                        li.goods-filters__accordion-elem
                            a.goods-filters__accordion-link(href="#!")
                                span Exclusive     
                                span Кол-во(31)     
        .goods-filters__accordion-item  
            h4.goods-filters__accordion-name 
                span Сортировка
                img(src="/assets/images/icons/arrow-bottom.svg", alt="")
            .goods-filters__accordion-content 
                ul.goods-filters__accordion-list
                    - for (var i = 0; i < 6; i++)
                        li.goods-filters__accordion-elem
                            a.goods-filters__accordion-link(href="#!")
                                span Exclusive     
                                span Кол-во(31)     