:root{
    --mainFont: 'El Messiri';
    --primaryColor: #0F9ED8;
    --textPrimary: #0F9ED8;
    --containerPadding: 15px;
    --mainBgColor: #F9F9F9;
    --whiteColor: #fff;
    --textWhite: #fff;
    --blackColor: #000;
    --blackText: #000;
    --darkColor: #323232;
    --darkText: #323232;
    --mainTitleText: #363853;
    --secondaryText: rgba(54, 56, 83, 0.80);
    --yellowColor: #BFA35C;
    --yellowText: #BFA35C;
}