:root {
  --mainFont: "Raleway";
  --primaryColor: #0f9ed8;
  --textPrimary: #0f9ed8;
  --containerPadding: 15px;
  --mainBgColor: #f9f9f9;
  --whiteColor: #fff;
  --textWhite: #fff;
  --blackColor: #000;
  --blackText: #000;
  --darkColor: #323232;
  --darkText: #323232;
  --mainTitleText: #363853;
  --secondaryText: rgba(54, 56, 83, 0.8);
  --yellowColor: #bfa35c;
  --yellowText: #bfa35c;
}
