section.companies 
    .container 
        .companies__content 
            .companies__cards 
                - for(var i = 0; i < 2; i++)
                    .companies__block 
                        .companies__item 
                            h3.companies__title Шторы для компании Safia
                            p.companies__descr Наша компания специально разработала авторские шторы для компании SAFIA, цель которой создать уютную атмосферу в ресторанах
                            a.companies__link.darkBlueHover(href="#!") Посмотреть
                        .companies__item 
                            img(src="/assets/images/articles/safia/safia-card01.png", alt="companies collaboration Combo.uz")
                        .companies__item 
                            img(src="/assets/images/articles/safia/safia-card02.png", alt="companies collaboration Combo.uz")
                        .companies__item 
                            img(src="/assets/images/articles/safia/safia-card03.png", alt="companies collaboration Combo.uz")
                    .companies__block 
                        .companies__item 
                            h3.companies__title Жалюзи для компании Artel
                            p.companies__descr Наша компания специально подобрала жалюзи для компании Artel, цель которой комфортную зону для работы сотрудников
                            a.companies__link.darkBlueHover(href="#!") Посмотреть
                        .companies__item 
                            img(src="/assets/images/articles/artel/artel-card01.png", alt="companies collaboration Combo.uz")
                        .companies__item 
                            img(src="/assets/images/articles/artel/artel-card02.png", alt="companies collaboration Combo.uz")
                        .companies__item 
                            img(src="/assets/images/articles/artel/artel-card03.png", alt="companies collaboration Combo.uz")
                    

