.about 
    .container 
        .about__content 
            .about__left 
                h3.about__title О компании COMBO.UZ
                p.about__descr Компания Combo.uz является производителем жалюзи и рулонных штор.Мы занимаемся изготовлением и установкой жалюзи с 1997г.
            .about__right 
                .about__slider 
                    .swiper-wrapper.about__wrapper
                        .swiper-slide.about__slide
                            img(src="/assets/images/main-page/gallery-projects01.png", alt="Combo.uz gallery projects")
                        .swiper-slide.about__slide
                            img(src="/assets/images/main-page/gallery-projects02.png", alt="Combo.uz gallery projects")
                        .swiper-slide.about__slide
                            img(src="/assets/images/main-page/gallery-projects03.png", alt="Combo.uz gallery projects")
                        .swiper-slide.about__slide
                            img(src="/assets/images/main-page/gallery-projects02.png", alt="Combo.uz gallery projects")
                        .swiper-slide.about__slide
                            img(src="/assets/images/main-page/gallery-projects03.png", alt="Combo.uz gallery projects")
                        .swiper-slide.about__slide
                            img(src="/assets/images/main-page/gallery-projects02.png", alt="Combo.uz gallery projects")