section.our-clients 
    .container 
        h2.our-clients__title Наши клиенты
        p.our-clients__descr Среди наших клиентов, такие уважаемые компании
        .our-clients__cards 
            - for(var i = 0; i < 9; i++)
                .our-clients__item 
                    img(src="/assets/images/about-company/client.png", alt="Combo.uz clients")