.our-advantages 
    .container 
        h2.our-advantages__title Наши преимущества
        .our-advantages__cards 
            .our-advantages__card 
                .our-advantages__text
                    .our-advantages__icon 
                        img(src="/assets/images/icons/refresh.svg", alt="icon")
                    p.our-advantages__descr На сегодняшний день 40% наших клиентов – это те, кто пришел к нам повторно, или те, кого к нам направили по рекомендации наши «старые» заказчики.
            .our-advantages__card 
                .our-advantages__text
                    .our-advantages__icon 
                        img(src="/assets/images/icons/refresh.svg", alt="icon")
                    p.our-advantages__descr Собственное производство выполнять заказы быстро и с высоким качеством
            .our-advantages__card 
                .our-advantages__text
                    .our-advantages__icon 
                        img(src="/assets/images/icons/crown.svg", alt="icon")
                    p.our-advantages__descr Мы гордимся тем, что за годы работы компании ее коллектив практически остался неизменным.Опытные менеджеры, дизайнеры, сборщики – вот одно из слагаемых успеха!

